<div class="container-fluid red-nav">
    <div class="row align-items-center mt-3">
 
      <div class="col-2 d-md-none">
        <div id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
  
 
      <div class="col-8 col-md-2 ">
        <a class="navbar-brand text-white" href="#">GoGrubz</a>
        <!-- <img src="assets/logo.png" alt=""> -->
      </div>
  
      <div class="col-md-6 d-none d-md-block">
        <nav class="navbar navbar-expand-lg p-0 custom-navbar">
          <div class="collapse navbar-collapse show" id="navbarNav">
            <ul
              class="navbar-nav ml-auto listbg">
              <li class="nav-item">
                <a class="nav-link active" href="#">Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Locations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Add your restaurant</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
  
    
      <div class="col-3 d-none d-md-block">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item mr-2">
            <a class="btn btn-outline-light my-2 my-sm-0" href="#">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light my-2 my-sm-0 ml-2" href="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>