<div class="container-fluid">
  <div class="row">
    <div class="hero-section text-center text-white bg-danger py-5 col-md-6">
      <h1 class="text">
        Why Go out when,<br />
        you can Grubz in
      </h1>
      <div class=" mt-3 ">
        <div class="search-bar1">
          <span name="paper-plane">
            <i class="fa-solid fa-location-arrow"></i>
          </span>
          <span> <input class="input-box" type="text" placeholder="Enter postcode or delivery address"> </span>
          <button class="search-btn">Search</button>
        </div>
      </div>
      <div class="stat">
        <span>
          <div class="number-text">230</div>
          <div class="text-below-number">Restorants</div>
        </span>
        <span>
          <div class="number-text">30,000</div>
          <div class="text-below-number">users</div>
           
        </span>
      </div>
    </div>
    <div class="col-md-6 hero-section text-center text-white bg-danger ">
      <img src="assets/burger.png" class="img-fluid" alt="Delivery" />
    </div>
  </div>
</div>
<div class="container-fluid mt-4 bg-cream ">
  <div class="row ">
    <div class="col-md-6 join bg-cream">
      <h2>Join the movement</h2>
      <p>Grow your business and reach new customers by partnering with us.</p>
      <button class="btn btn-danger join">Sign up your store</button>
    </div>
    <div class="col-md-6 bg-cream">
      <img src="assets/3burger.jpg" class="img-fluid clip" alt="Burgers" />
    </div>
  </div>
</div>
<div class="container-fluid mt-2">
  <div class="row mt-5 align-items-center">
    <div class="col-md-6 ">
      <img src="assets/mobile.jpg" class="img-fluid img-b girl" alt="Delivery" />
    </div>
    <div class="col-md-6 join">
      <h2>Everything you crave, delivered.</h2>
      <p>
        Get a pizza or a curry delivered, or pick up some chicken chow mein from
        the Chinese takeaway spot you’ve been meaning to try.
      </p>
      <button class="btn btn-danger join">Find restaurant</button>
    </div>
  </div>
</div>

<div class="container-fluid mt-2 bg-cream ">
  <div class="row ">
    <div class="col-md-6 join bg-cream">
      <h2>Find the perfect cuisine for you.</h2>
      <p>Start swaping right for your taste buds - yoy'll soon find the cuisine that's a perfect match for your
        cravings.</p>
      <button class="btn btn-danger join">Discover Cuisines</button>
    </div>
    <div class="col-md-6 bg-cream">
      <img src="assets/girls.jpg" class="img-fluid girl" alt="Burgers" />
    </div>
  </div>
</div>

<div class="container-fluid red mt-4">
  <div class="row mt-5 align-items-center">
    <div class="col-md-6 ">
      <img src="assets/location.jpg" class="img-fluid img-b" alt="Delivery" />
    </div>
    <div class="col-md-6 red">
      <h2>Download our App</h2>
      <p>
        Our apps gives you access to your favourite restaurants.
        Gets your food deliverd right to you
      </p>
      <div class="div ">
        <button class="btn btn-dark "><i class="fa-brands fa-apple fa-1x"></i> App Store</button>
        <button class="btn btn-dark app"><i class="fa-brands fa-google-play fa-1x"> </i>Google Play</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col img-text-container">
      <img src="assets/map.jpg" class="" alt="Map" style="width: 100%; height: 100%" />
      <div class="text-center bg-text inner">
        <h1> Restaurants near me</h1>
    </div>
      
  </div>
</div>